apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: swagger-ui-ingress
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    kubernetes.io/ingress.class: nginx
spec:
  rules:
  - host: nmost.site
    http:
      paths:
      - path: /swagger
        pathType: Prefix
        backend:
          service:
            name: swagger-ui-service
            port:
              number: 80